<h1>Placeholder Text</h1>

<% @posts.each do |post| %>
	<p><%= link_to (image_tag post.image.url(:small)) %></p>
    <p><%= link_to post.title, post %></p>
    <p><%= post.comments.count %></p>
    Comments
    <p><%= post.get_likes.size %></p>
    LIKES

<% end %>

<%= link_to "Add New Inspiration", new_post_path %>